{% extends 'base.html' %}

{% block content %}
    {% block search %}
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item--on weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                               required="">
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                        <i class="weui-icon-search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
        </div>
    {% endblock %}
    {% block menu %}
        <div class="weui-tab">
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="weui-cells"></div>
                    {% block content_bd %}
                    {% endblock %}
                    <div class="weui-cells">　　</div>
                </div>
            </div>
            <div class="weui-tabbar">
                <a href="{{ url_for('site.index') }}"
                   class="weui-tabbar__item {% if  menu_tab_on == 'tab1' %} weui-bar__item--on{% endif %}">
                    {#                    <span class="weui-badge" style="position: absolute;top: -.2em;right;">8</span>#}
                    <div class="weui-tabbar__icon">
                        <img src="{{ url_for('static',filename='img/icon_nav_cell.png') }}" alt="">
                    </div>
                    <p class="weui-tabbar__label">凑单</p>
                </a>
                <a href="{{ url_for('site.stores') }}"
                   class="weui-tabbar__item {% if  menu_tab_on == 'tab2' %} weui-bar__item--on{% endif %}">

                    <div class="weui-tabbar__icon">
                        <img src="{{ url_for('static',filename='img/icon_nav_button.png') }}" alt="">
                    </div>
                    <p class="weui-tabbar__label">商品</p>
                </a>
                <a href="{{ url_for('site.orders') }}"
                   class="weui-tabbar__item {% if  menu_tab_on == 'tab3' %} weui-bar__item--on{% endif %}">
                    <div class="weui-tabbar__icon">
                        <img src="{{ url_for('static',filename='img/icon_nav_msg.png') }}" alt="">
                    </div>
                    <p class="weui-tabbar__label">我</p>
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}