{% extends 'layout.html' %}
{% set menu_tab_on = 'tab3' %}

{% block search %}{% endblock %}
{% block content_bd %}
    <div class="weui-btn-area">
        <a href="javascript:;" class="weui-btn weui-btn_primary open-popup" data-target="#full">发起新活动</a>
        {% include '_create_activity.html' %}
    </div>
    <div class="weui-cells">
        <div class="weui-panel__hd">我的订单</div>
        {% for order in orders %}
            <a class="weui-cell weui-cell_access" href="{{ url_for('site.product', id=order.product.id) }}">
                <div class="weui-cell__bd">
                    <p>{{ order.product.name }}</p>
                </div>
                <div class="weui-cell__hd">
                    <p>{{ order.product.price }}</p>
                </div>
                <div class="weui-cell__ft">
                    {{ order.number }}
                </div>
            </a>
        {% else %}
            <div class="weui-cell weui-cell_access">
                <div class="icon-box">
                    <p class="weui-icon-info weui-icon_msg-primary"></p>
                    <div class="icon-box__ctn">
                        <h2 class="icon-box__title">提示：没有查到订单</h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $("#name").select({
            min: 1,
            max: 10,
            title: "商品",
            multi: true,
            items: {{ stores | safe }}
        });
    </script>
{% endblock %}

