{% extends 'layout.html' %}

{% block search %}{% endblock %}

{% block content_bd %}
    <div class="weui-cells__title">商品详情</div>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">付款金额</label>
            <em class="weui-form-preview__value">¥{{ product.price }}</em>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">{{ product.name }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品说明</label>
                <span class="weui-form-preview__value">{{ product.remark }}</span>
            </div>
        </div>
    </div>
    <div class="weui-cells__title"></div>
    <div class="weui-cells__title">购买</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">预定单数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="输入预定单数">
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="{{ url_for('site.ok') }}" id="showTooltips">预定</a>
    </div>
{% endblock %}